@import url('../../styles.css');

.timer-setting-container {
    width: 100%;
    height: 100%;
    padding: 140px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timers {
    display: flex;
    justify-content: center;
}

.timers .timer {
    width: 270px;
    padding: 60px 0 50px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-timer {
    margin-right: 20px;
    background-color: var(--dark-skyblue-color);
}

.short-break-timer {
    margin-right: 20px;
    background-color: var(--light-skyblue-color);
}

.long-break-timer {
    background-color: var(--light-grey-color);
}

.timer .time {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 10px;
}

.min-sec-text {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.setting {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.setting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-item .title {
    font-weight: 600;
}

.setting-item .control {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.setting-item .control .time {
    font-weight: 600;
}

.control .operator {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.operator:active {
    transform: scale(1.1);
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    border: none;
    border-radius: 20px;
    padding: 10px 45px;
    font-weight: 600;
}

.buttons .reset {
    margin-right: 30px;
    background-color: var(--light-grey-color);
}

.buttons .check {
    background-color: var(--medium-skyblue-color);
    color: var(--very-light-grey-color);
}
