@import url('../../styles.css');

.timer-setting-container {
    width: 100%;
    height: 100%;
    padding: 35px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.timers {
    display: flex;
    justify-content: center;
}

.timers .timer {
    padding: 60px 30px 50px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-timer {
    margin-right: 20px;
    background-color: var(--dark-skyblue-color);
}

.short-break-timer {
    margin-right: 20px;
    background-color: var(--light-skyblue-color);
}

.long-break-timer {
    background-color: var(--light-grey-color);
}

.timer .time {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 10px;
}

.min-sec-text {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.setting {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.setting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-item .title {
    font-weight: 600;
}

.setting-item .control {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.setting-item .control .time {
    font-weight: 600;
}

.control .operator {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.operator:active {
    transform: scale(1.1);
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    border: none;
    border-radius: 20px;
    padding: 10px 45px;
    font-weight: 600;
}

.buttons .reset {
    margin-right: 30px;
    background-color: var(--light-grey-color);
}

.buttons .check {
    background-color: var(--medium-skyblue-color);
    color: var(--very-light-grey-color);
}

.timer .time,
.min-sec-text,
.timer-setting-container,
.setting-item .title {
    transition: all 0.4s ease-in-out;
}

.timers {
    transition: all 0.4s ease;
}

/* 타이머 셋팅 페이지 미디어 쿼리 */
@media screen and (max-width: 850px) {
    .timer .time {
        font-size: 45px;
    }
    .min-sec-text {
        width: 100px;
    }
}

@media screen and (max-width: 750px) {
    .timer .time {
        font-size: 35px;
    }
    .min-sec-text {
        width: 90px;
    }
}

@media screen and (max-width: 650px) {
    .timer-setting-container {
        width: 100%;
        padding: 30px 0;
    }

    .timer-setting-container,
    .timers {
        flex-direction: column;
        justify-content: normal;
        margin-bottom: 20px;
    }

    .focus-timer,
    .short-break-timer {
        margin-right: 0px;
    }

    .timers .timer {
        margin-bottom: 20px;
        padding: 60px 30px 50px 30px;
    }

    .timer .time {
        font-size: 55px;
    }

    .setting {
        font-size: 13px;
        margin-top: 20px;
        justify-content: space-evenly;
    }

    .min-sec-text {
        width: 120px;
    }
}

@media screen and (max-width: 350px) {
    .setting-item .title {
        font-size: 10px;
    }
}
