@import url('../../styles.css');

nav {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--very-light-grey-color);
    position: absolute;
    top: -35px;
    left: 450px;
}

.list {
    width: 100px;
    height: 35px;
    background-color: var(--dark-skyblue-color);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.list:active {
    transform: scale(0.98);
}

.list.active {
    background-color: var(--navy-color);
}
