.authenticated-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px; /* 원하는 최대 너비 */
    margin: 0 auto;
    box-sizing: border-box;
}

.loading {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}
