.todo-container {
    width: 100%;
    padding: 120px 30px 50px 30px;
    display: flex;
    justify-content: space-between;
}

.task-calendar-layout {
    width: 47%;
}

.calender {
    width: 100%;
    height: 100%;
}

.task-list-layout {
    width: 47%;
    max-height: 360px;
}

.todo-form {
    width: 100%;
    height: 100%;
}
