@import url('../../styles.css');

.goal-management-container {
    width: 100%;
    height: 100%;
    padding: 15px 30px 40px 30px;
    display: flex;
    justify-content: space-between;
}

.goal-list-panel {
    width: 47%;
    max-height: 360px;
    overflow: auto;
    padding: 20px;
}

.goal-list .title {
    font-weight: 500;
}

.goal-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    overflow: auto;
}

.goal-item .icon.menu-hamburger {
    position: relative;
    margin-right: 7px;
}

.goal-item .category {
    background-color: var(--light-grey-color);
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.add-goal-container {
    display: flex;
    flex-direction: column;
}

.add-goal-input {
    width: 60%;
    border: none;
    margin: 0 5px 10px 0;
    background-color: transparent;
    font-size: 16px;
}

.add-goal-input:focus {
    outline: none;
}

.add-goal-container input {
    border: none;
    background-color: transparent;
}

.add-goal-container input.default {
    border-bottom: 2px solid var(--black-color);
    background-color: transparent;
}

.add-goal-container .category {
    width: 20%;
    background-color: var(--light-grey-color);
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.goal-management-container .division-line {
    width: 2px;
    background-color: var(--medium-grey-color);
}

.goal-detail-panel {
    width: 47%;
    justify-content: normal;
}

.goal-input {
    width: 70%;
    border: none;
    border-bottom: 2px solid var(--black-color);
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.goal-color .title {
    margin-bottom: 10px;
}

.goal-color button {
    margin-top: 20px;
    padding: 8px 43px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
}
.goal-color .left-button {
    background-color: var(--light-grey-color);
    margin-right: 12px;
}

.goal-color .check-button {
    background-color: var(--medium-skyblue-color);
    color: var(--white-color);
}

@media screen and (max-width: 650px) {
    .goal-management-container {
        flex-direction: column;
    }

    .division-line {
        background-color: transparent;
    }

    .goal-list-panel {
        width: 100%;
        overflow: visible;
    }

    .goal-list {
        display: flex;
        flex-wrap: wrap; /* 너비를 초과하면 다음 줄로 넘김 */
    }

    .goal-item {
        flex: 1 1 auto; /* 내용에 따라 유연하게 크기 조절 */
        text-align: center;
    }

    .goal-detail-panel {
        width: 100%;
        overflow-y: visible;
        padding: 30px 30px 80px 30px;
    }
}

@media screen and (max-width: 360px) {
    .goal-color button {
        padding: 8px 30px;
    }
}
